.book {
  margin: auto;

  .header-wrap {
    margin: auto;
    max-width: 800px;
    color: white;
    background-color: #3599B5;

    h2 {
      padding: 5px;
    }
  }

  .subheader-wrap {
    margin: auto;
    margin-bottom: 50px;
    padding: 5px;
  }

  form {
    margin: auto;
    padding: 15px;
    max-width: 800px;

    select, input {
      margin-bottom: 5px;
    }

    .message {
      margin-bottom: 10px;

      input {
        min-height: 81px;
      }
    }
  }
}