.down-arrow {
  position: absolute;
  left: 50%;
  width: 0;
  height: 30px;
  animation: jumpInfinite 1.5s infinite;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -10px;
  width: 18px;
  height: 18px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

.home {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201440%20320%22%3E%3Cpath%20fill%3D%22%233599B5%22%20fill-opacity%3D%221%22%20d%3D%22M0%2C288L34.3%2C256C68.6%2C224%2C137%2C160%2C206%2C149.3C274.3%2C139%2C343%2C181%2C411%2C197.3C480%2C213%2C549%2C203%2C617%2C181.3C685.7%2C160%2C754%2C128%2C823%2C133.3C891.4%2C139%2C960%2C181%2C1029%2C192C1097.1%2C203%2C1166%2C181%2C1234%2C160C1302.9%2C139%2C1371%2C117%2C1406%2C106.7L1440%2C96L1440%2C320L1405.7%2C320C1371.4%2C320%2C1303%2C320%2C1234%2C320C1165.7%2C320%2C1097%2C320%2C1029%2C320C960%2C320%2C891%2C320%2C823%2C320C754.3%2C320%2C686%2C320%2C617%2C320C548.6%2C320%2C480%2C320%2C411%2C320C342.9%2C320%2C274%2C320%2C206%2C320C137.1%2C320%2C69%2C320%2C34%2C320L0%2C320Z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding-top: 50px;

  .home-logo {
    max-width: 200px;
    max-height: 200px;
  }

  .col {
    margin-top: 80px;
    padding-bottom: 80px;
  }
}