.values {
  background-color: #3599B5;

  .row {
    margin: auto;
    width: 70%;
  }

  .col {
    padding: 5px;
  }

  .card {
    margin: auto;
    max-width: 400px;
    min-width: 200px;
    border: 2px solid black;

    button {
      width: 140px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .wrapper a {
    width: 180px;
    margin-left: auto;
    margin-right: auto;

    button {
      width: 100%;
      font-size: 18px;
    }
  }
}